.add-product-popup {
  width: 500px;
  height: fit-content;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  header {
    width: 100%;
    padding: 0 16px;
    height: 48px;
    border-radius: 8px 8px 0 0;
    border-bottom: 1px solid #ebebeb;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    p {
      color: var(--mainDarkColor);
      font-size: 18px;
      font-weight: 600;
    }

    button {
      background-color: #f4f4f4;
      width: 25px;
      height: 25px;
      border: none;
      border-radius: 5px;
      transition: 0.3s;
      outline: none;
      color: var(--mainDarkColor);
      cursor: pointer;
      &:hover {
        color: #ff4b55;
      }
    }
  }
  footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 16px;
    background-color: #fff;
    height: 48px;
    border-radius: 0 0 8px 8px;
    border-top: 1px solid #ebebeb;
  }
}
.main-section {
  width: 100%;
  background-color: #f8f8f8;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  .top-content {
    width: 100%;
    border: 1px solid #ecf0f5;
    border-radius: 6px;
    background-color: #fff;
    padding: 12px;
    display: flex;
    align-items: center;
    gap: 10px;
    .upload-img {
      width: 110px;
      height: 110px;
      border: 1px solid #ecf0f5;
      padding: 6px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 6px;
      cursor: pointer;
      &:hover {
        color: var(--primary-color);
      }
      img {
        width: 50%;
        height: 50%;
        object-fit: contain;
      }
      .uploaded-img {
        width: 100%;
        height: 100%;
      }
    }
  }
}

.group-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
  width: calc(100% - 120px);
  label {
    color: #6b7280;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    display: flex;
    gap: 4px;
    span {
      color: #ff4b55;
    }
  }
  input,
  textarea {
    width: 100%;
    height: 30px;
    padding: 8px;
    font-size: 14px;
    border-radius: 4px;
    border: 0.75px solid #d3d6dc;
    background: #fff;
    font-weight: 500;
    line-height: normal;
    cursor: text;
    color: var(--mainDarkColor);
    &:hover,
    &:focus,
    &:focus-visible {
      outline: none;
      border-color: var(--primary-color);
    }
  }
  textarea {
    resize: none;
    height: 100px;
  }
}
