<div class="add-product-popup">
  <header>
    <p>{{ editMode ? "Edit Product" : "Add Product" }}</p>
    <button class="close-btn" (click)="closePopup()">X</button>
  </header>
  <form [formGroup]="ProductForm">
    <div class="main-section">
      <div class="top-content">
        <div class="upload-img" *ngIf="imageUploaded">
          <button class="close-btn" (click)="removeImage()">X</button>
          <img class="uploaded-img" [src]="previewUrl" alt="Image Preview" />
        </div>
        <div class="upload-img" *ngIf="!imageUploaded" (click)="openUpload()">
          <img src="assets/cloud-upload.svg" />
          <p>upload image</p>
          <input
            type="file"
            [hidden]="true"
            #inputField
            accept="image/*"
            (change)="onFileSelected($event)"
          />
        </div>
        <div class="group-form">
          <label for="title">Title <span>*</span></label>
          <input type="text" id="title" formControlName="title" />
          <label for="price">Price <span>*</span></label>
          <input type="number" id="price" formControlName="price" />
        </div>
      </div>
      <div class="top-content">
        <div class="group-form w-100">
          <label for="description">Description</label>
          <textarea id="description" formControlName="description"></textarea>
          <label for="category">Category</label>
          <input type="text" id="category" formControlName="category" />
        </div>
      </div>
    </div>
  </form>
  <footer>
    <button
      class="primary-btn"
      [disabled]="ProductForm.invalid"
      (click)="submitForm()"
    >
      {{ editMode ? "Edit" : "Add Product" }}
    </button>
  </footer>
</div>
