@keyframes popupOpening {
  0% {
    transform: scale(0.8);
  }

  100% {
    transform: scale(1);
  }
}

header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  p {
    font-size: 24px;
    font-weight: 600;
  }
}

.search {
  width: 40%;
  height: 34px;
  display: flex;
  align-items: center;
  padding: 8px;
  gap: 0;
  border-radius: 4px;
  border: 0.75px solid rgba(131, 137, 159, 0.2);
  background: #fff;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  color: var(--mainDarkColor);
  &:hover,
  &:focus,
  &:focus-visible,
  &:active {
    outline: none;
    border-color: var(--primary-color);
  }
}

.products-container {
  display: flex;
  gap: 24px;
  width: 100%;
  flex-wrap: wrap;
  padding: 4px;
  height: calc(100% - 100px);
  overflow: auto;
  justify-content: center;
  .product-card {
    width: 375px;
    height: 445px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 24px;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    .image-box {
      border-radius: 4px;
      width: 240px;
      height: 240px;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    p {
      color: var(--mainDarkColor);
      font-weight: 600;
      text-align: center;
    }
    .price {
      color: #6b7280;
      font-weight: 500;
    }

    .details {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      cursor: pointer;
      .left {
        display: flex;
        gap: 6px;
        align-items: center;
      }
      p {
        text-decoration: underline;
        color: var(--primary-color);
        &:hover {
          color: var(--hoverColor);
        }
      }
    }
  }
}
.product-pop {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: calc(100vw - 170px);
  height: calc(100vh - 220px);
  position: absolute;
  background-color: rgb(214 219 227 / 10%);
  -webkit-backdrop-filter: blur(0.5px);
  backdrop-filter: blur(0.2px);
  padding: 16px;

  app-add-product {
    animation: popupOpening 0.3s ease-in-out;
  }
}
.empty-state {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: calc(100% - 20px);
  padding: 24px;
  gap: 24px;
  p {
    color: #9f9f9f;
    font-size: 24px;
  }
  img {
    width: 70%;
    height: 70%;
    object-fit: contain;
  }
}

@media (max-width: 760px) {
  .products-container {
    justify-content: center;
    .product-card {
      width: 250px;
    }
  }
  .search {
    width: 100%;
  }
  .product-pop {
    align-items: center;
    height: calc(100vh - 345px);
    top: 15%;
    inset-inline-start: 22%;
  }
}
