/* You can add global styles to this file, and also import other style files */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #3e97ff;
  --hoverColor: #3180de;
  --mainDarkColor: #1c1c28;
}

.primary-btn {
  border-radius: 4px;
  width: fit-content;
  padding: 6px;
  background-color: var(--primary-color);
  cursor: pointer;
  color: #fff;
  outline: none;
  border: none;
  &:hover {
    background-color: var(--hoverColor);
  }
  &:disabled {
    pointer-events: none;
    opacity: 0.6;
  }
}
.w-100 {
  width: 100% !important;
}
.ng-invalid.ng-touched {
  border-color: #ff4b55 !important;
}
